main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 120px;
}

.logo {
    width: 100%;
    max-width: 300px;
    height: auto;
}

.title-logo-container {
    padding: 10px 16px;
    margin-top: 110px;
}

.logo-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 300px;
}

.search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 16px;
}

.input-container {
    width: 100%;
    max-width: 680px;
}

.input-field {
    position: relative;
    width: 100%;
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 13px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    pointer-events: none;
    opacity: 0.55;
}

.mic-icon {
    position: absolute;
    top: 50%;
    right: 13px;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    pointer-events: none;
    cursor: pointer;
}

.search-input {
    width: 100%;
    border-radius: 24px;
    height: 50px;
    padding: 0 46px;
    border: 1px solid #dfe1e5;
    background-color: #fff;
    box-shadow: none;
    outline: none;
    font-size: 16px;
    color: #202124;
    caret-color: #202124;
}

.search-input:hover {
    box-shadow: 0 1px 6px rgba(32, 33, 36, .28);
    border-color: rgba(223, 225, 229, 0);
}

.search-input:focus {
    box-shadow: 0 1px 6px rgba(32, 33, 36, .28);
    border-color: transparent;
}

.search-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 28px;
    gap: 10px;
}

.search-btn {
    font-family: arial, sans-serif;
    font-size: 14px;
    padding: 0 16px;
    height: 36px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #f8f9fa;
    background-color: #f8f9fa;
    color: #3c4043;
    letter-spacing: .25px;
    transition: border-color 0.1s ease, box-shadow 0.1s ease;
}

.search-btn:hover {
    border-color: #dadce0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}


/* Responsive */

@media (max-width: 600px) {
    .search-form {
        padding: 0 15px;
    }
}